<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WEB PHISHING DETECTION SYSTEM</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/mainlogo.jpeg" rel="icon">
  <link href="static/img/mainlogo.jpeg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">WEB PHISHING DETECTION SYSTEM</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/mainlogo.jpeg" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="#boy">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact us</a></li>
		  <li><button class="button"><a href="#hero">Get Started</a></button></li>
         </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= boy Section ======= -->
  <section id="boy" class="boy">

    
	 <div class="centered">
	 . . .

<!--First section-->
     <div style="background-image: url('static/img/bg.jpg'); 
       background-size:cover; height:680px; padding-top:0px;">
  

      <h1><b>Solutions to detect phishing websites</b></h1>
      <p>Be aware of what's happening with your confidential data</p>
	  <div class="vertical-center">
	  <button class="button"><a href="#hero">Get Started</a></button>
	  </div>
	 </div>
	 </div>
	</section><!-- End boy -->

  
  <main id="main">

    <!-- ======= about Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Web Phishing Detection System</h2>
          <p>Web Phishing Detection System is a project that came into existence from IBM project “Detection of Phishing Website
            Using Machine Learning” carried out at MNMJEC.
            It aims to help reduce phishing attack by helping internet users authenticate URL link by testing if it is
            phishing or legitimate. The progress of validating a Website URL for phishing or legitimate has gone through
            several Machine learning models.
          </p>

          <h3>About the Author</h3>
          <p>The Author of this Project is a group of students who are a Final Year Students of Computer Science and Engineering at
            MNM Jain Engineering College  who aspire to further his Career into Cyber Security. </p>
        </div>
		<div class="centered">
		<h3>Check Your Website</h3>
		<p>Understanding if the website is a valid one or not is importand and plays a vital role in the securing the data. To know if the URL is a valid one or you are information is at risk check your website.</p>
		</div>
		
		<button class="button"><a href="#hero">Check Your Website here</a></button>
		
        
      </div>
    </section>
	<!-- End about Section -->
	<section id="contact" class="contact">

    
	 
	 <div style="background-image: url('static/img/rs.jpg'); 
       background-size:cover; height:680px; padding-top:0px;">
	   <div class="centered">
      <h1><b>Our Contact information</b></h1>
      <p>Contact:7305394311</p>
	  <p>Email Id:311619104028@smartinternz.com</p>
	  <p>Institution: MNMJEC </p>
	  
	 </div>
	 </div>
	</section><!-- End boy -->

    <section id="hero">
	<div style="background-image: url('static/img/rr.jpg'); 
       background-size:cover; height:1000px;background-position: center;
  background-repeat: no-repeat;">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
	
      <h1>Web Phishing Detection System using Machine Learning</h1>
      <form  method="post" role="form" class="form" action="/y_predict">
        <div class="row no-gutters">
          <div class="col-md-6 form-group pr-md-1">
            <input type="url" name="URL" class="form-control" id="name"
              placeholder="Enter a URL link in format http or https and should contain www">
          </div>
        </div>
      
        <div class="text-center">
          <button id="predict" class="btn btn-danger"  type="submit" >Predict</button>
          <button id="reset" class="btn btn-primary" onclick="resetPage()" type="button">Reset</button>
          <br>
          <h6 class = "right " id="ted"><a href= ap > </a></h6>
        </div>
      </form>
      <div class="col-md" id="form2">
        <br>
        
        <h3 id="prediction"></h3>
		<br>
        
    </div> 
      <img src="static/img/safe.svg" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    
    </div>
	</div>

  </section><!-- End Hero -->


  </main><!-- End #main -->

  

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
  <script>
    function resetPage() {
    console.log("HELLO");
    location.reload();
  } 
  let x = '{{prediction_text}}';
   let ap='{{url}}'
   document.getElementById("ted").innerHTML=ap;
            
            if(x=="safe"){
                var label = "Website is safe to use...";
                document.getElementById("prediction").innerHTML = label;
                
            }
            else {
                var label = "Website is  unsafe to use..."
                document.getElementById("prediction").innerHTML = label ;
                
            }
  </script>
</body>
      
</html>